.intro {
    width: 100%;
    background: #fff;
    position: relative;
    &__bottom-border {
        position: absolute;
        top: 164px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 1px solid $bg;
        width: 100%;
        height: 104%;
        @include media($size3) {
            top: 50px;
            height: 0;
        }
        @include media($size4) {
            top: 83px;
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    &-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        padding: 30px 0;
        position: relative;
        @include media($size1) {
            padding: 19px 0 0;
            flex-direction: column;
        }
        @include media($size4) {
            padding: 18px 0 0 0;
        }
    }
    &-basket {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        right: 0%;
        @include media($size1) {
            right: 5%;
        }
        @include media($size3) {
            top: 13px;
        }
        @include media($size4) {
            flex-direction: column;
        }
    }
    &-menu {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        &__link {
            color: $darkB;
            display: inline-block;
            margin-right: 42px;
            font-size: 20px;
        }
        @include media($size1) {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(-50%, -50%);
        }
        @include media($size3) {
            height: 50px;
            top: 25px;
            padding-left: 50px;
        }
        @include media($size4) {
            top: 40px;
        }
    }
    &-nav {
        @include media($size3) {
            width: 100%;
        }
        @include media($size4) {
            padding-top: 65px;
        }
    }
    &__border {
        position: absolute;
        display: block;
        height: 100%;
        border-right: 1px solid $bg;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        @include media($size1) {
            right: 10%;
            height: 98%;
        }
        @include media($size3) {
            border-right: none;
        }
    }
    &__burger {
        z-index: 11111;
        position: relative;
        transition: all .3s;
        &:hover {
            color: $green;
        }
    }
    &__fade {
        position: absolute;
        top: 36px;
        z-index: 1222222;
        display: block;
        width: 17px;
        height: 17px;
        @include media($size3) {
            display: none;
        }
    }
    &-logo {
        padding-right: 150px;
        @include media($size1) {
            padding: 10px 0;
        }
        @include media($size3) {
            padding: 0;
        }
        @include media($size4) {
            position: absolute;
            top: 30px;
        }
        @include media($size5) {
            left: 80px;
        }
    }
    &-cart {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include media($size4) {
            margin-bottom: 5px;
        }
        &__link {
            color: $darkB;
        }
        &__icon {
            font-size: 20px;
        }
        &__title {
            text-transform: uppercase;
            font-family: "Montserrat";
            font-size: 11px;
            font-weight: 500;
            margin: 0 7px;
        }
        &__quantity {
            display: flex;
            font-size: 11px;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            background: #e3e8f0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
    }
    &-sign {
        &__btn {
            background: #fff;
            border: 2px solid #e3e8f0;
            border-radius: 20px;
            text-transform: uppercase;
            padding: 5px 12px;
            font-size: 11px;
            font-weight: 500;
            margin-left: 22px;
            outline: none;
            transition: all .3s;
            &:hover {
                color: #fff;
                border: 2px solid $green;
                background: $green;
            }
            &:active {
                background: #04b78b;
                border: 2px solid #04b78b;
            }
        }
    }
    &-bottom {
        min-height: 55px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
}

.fa-bars {
    font-weight: 200;
}

.burger__sort {
    z-index: 11111;
    position: relative;
    transition: all .3s;
    &:hover {
        color: $green;
    }
}

.nav {
    @include media($size3) {
        display: none;
    }
    &__list {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        padding-right: 36px;
        white-space: nowrap;
        &:nth-child(5) {
            padding-right: 140px;
            @include media($size1) {
                padding-right: 0px;
            }
        }
        @include media($size1) {
            padding-right: 15px;
        }
    }
    &__link {
        display: inline-block;
        color: $darkB;
        &:hover {
            text-decoration: underline;
        }
    }
}

.category {
    overflow: hidden;
    height: 100%;
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        border-right: 1px solid $bg;
        @include media($size3) {
            flex-wrap: wrap;
        }
    }
    &__item {
        margin-right: 29px;
        &:nth-child(5) {
            margin-right: 326px;
            @include media($size1) {
                margin-right: 29px;
            }
        }
        @include media($size3) {
            margin-right: 18px;
        }
    }
    &__link {
        display: inline-block;
        color: #b9bed1;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: color .3s;
        &:hover {
            color: $darkB;
        }
        @include media($size3) {
            letter-spacing: 0px;
        }
    }
    &__active {
        color: $darkB;
        font-weight: 500;
    }
}

.form-search {
    border-right: 1px solid $bg;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search {
    z-index: 10;
    padding-left: 20px;
    &__input {
        max-width: 180px;
        background: url(../img/icons/magnifying-glass.svg) no-repeat left center;
        outline: none;
        border: 1px solid transparent;
        padding-left: 23px;
        @include placeholder {
            color: #a1a7bd;
        }
    }
}

.presentation {
    background-color: #1c1e23;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1111;
    @include media($size4) {
        flex-direction: column;
    }
}

.description {
    transition: all .3s;
    &__name {
        font-family: "Montserrat", sans-serif;
        font-size: 42px;
        font-weight: 900;
        color: #fff;
        max-width: 310px;
        margin-bottom: 35px;
        @include media($size4) {
            max-width: 100%;
            font-size: 35px;
            margin: 0 auto;
        }
        @include media($size5) {
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 200px;
            }
        }
    }
    &__text {
        font-family: "Crimson Text";
        font-size: 16px;
        color: #fff;
        margin-bottom: 65px;
        max-width: 410px;
        @include media($size4) {
            max-width: 100%;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 400px;
            }
        }
        @include media($size5) {
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 300px;
            }
        }
        @include media($size6) {
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 200px;
            }
        }
    }
    &__buy {
        display: block;
    }
    &__link {
        background: #2754eb;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        border-radius: 20px;
        padding: 15px 50px;
        opacity: .8;
        transition: all .2s;
        &:hover {
            opacity: 1;
        }
        &:active {
            background: #1c45d1;
        }
    }
    &__wrapper {
        padding-right: 120px;
        @include media($size4) {
            padding-top: 22px;
            margin-bottom: 100px;
            order: 2;
            text-align: center;
            padding-right: 0;
        }
    }
}

.mobile {
    display: none;
    @include media($size3) {
        display: none;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 8px 0;
        border-bottom: 1px solid $bg;
    }
    &__link {
        color: $darkB;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}

.device {
    width: 300px;
    height: 516px;
    background: url(../img/content/iphone_6.png) no-repeat center;
    background-size: cover;
    @include media($size4) {
        height: 876px;
    }
}

.swiper-slide {
    /* Center slide text vertically */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include media($size3) {
        margin: 0 15px;
    }
    @include media($size4) {
        flex-direction: column;
        margin: 0 auto;
    }
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 2px solid #898a8c;
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination {
    margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
    background: #fff;
    border: 2px solid #fff;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-button-next,
.swiper-container-rtl {
    height: 40px;
    width: 40px;
    border: 2px solid #494b4f;
    border-radius: 50%;
    background: url(../img/icons/slider-next.png) no-repeat center;
    right: 10px;
    left: auto;
    margin-right: 135px;
    transition: all .2s;
    @include media($size1) {
        display: none;
    }
    &:hover {
        border: 2px solid #fff;
    }
}

.swiper-button-prev {
    height: 40px;
    width: 40px;
    border: 2px solid #494b4f;
    border-radius: 50%;
    background: url(../img/icons/slider-next.png) no-repeat center;
    transform: rotate(180deg);
    left: 10px;
    right: auto;
    margin-left: 135px;
    transition: all .2s;
    @include media($size1) {
        display: none;
    }
    &:hover {
        border: 2px solid #fff;
    }
}